html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    background-color: black;
    font-family: Roboto;
}

body:before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/tlo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -9;
    filter: blur(6px);

}

.container 
	{
	max-width: 1600px;
	margin: 0 auto 0 auto;
	background-color: rgb(18, 18, 18);
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
	}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    font-size: 22px;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    margin-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
}
.link {
    text-decoration: none;
    font-family: Roboto;
    color: white;
    padding: 18px 18px 18px 18px;
    
}

.link:hover {
    color: rgb(190, 38, 190);    
}

.baner {
    max-height: 250px;
    
}

.baner-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.naglowek {
    color: white;
    font-size: 30px;
    font-family: Roboto;
    margin-top: 34px;
    margin-bottom: 16px;
    margin-left: 16px;
}


.party-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    margin: 20px 30px 60px 30px;
}
.foto1 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 4%;
    box-shadow: 0px 0px 10px 8px rgb(128, 21, 5);
}

.foto2 {
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 4%;
    background-color: white;
    box-shadow: 0px 0px 10px 8px rgb(128, 21, 5);
}

.foto2:hover {
    box-shadow: 0px 0px 10px 10px rgb(195, 6, 6);
    transition: 0.6s;
}

.foto1:hover {
    box-shadow: 0px 0px 10px 10px rgb(195, 6, 6);
    transition: 0.6s;
}

.fa-shopping-cart:hover {
    color: rgb(128, 21, 5);
}

footer {
    background-color: black;
    color: rgb(182, 182, 182);
    font-family: Roboto;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

.fa {
    padding: 20px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    font-size: 38px !important;
    border-radius: 50%;
    color: white;
}
.fa-shopping-cart {
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    display: flex;
    text-align: center;
}

.fa:hover {
    opacity: 0.7;
    cursor: pointer;
}
.produkt {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.cennik {
    color: white;
    font-family: Roboto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opis_produktu {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.nazwa_produktu {
    font-size: 22px;
}

.cena_produktu {
    font-size: 18px;
}

hr {
    
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
    
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-right: 24px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    
}

.cart-price {
    width: 20%;
    font-size: 19px;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: 8px;
    font-size: 19px;
    font-family: Roboto;
    margin-left: 20px;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
    margin-left: 24px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid #530363;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid rgb(124, 124, 124);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 28px;
}

.section-header {
    font-family: Roboto;
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 11px 11px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #8907b4;
    border: none;
    border-radius: 5px;
    
}

.btn-primary:hover {
    background-color: #5a076d;
}

.shop-item-button {
    background-color: transparent;
    color: white;
    border: none;
}